body[data-sidebar-size=sm] {
    min-height: 100vh;
}
body {
    background-color: #efefef;
}
body.loginPage, body.RegisterPage {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: url(../images/login_bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body.RegisterPage {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
body.ErrorPage {
    min-height: 100%;
    width: 100%;
    
    overflow: hidden;
}
.no-padding-r {
    padding-right: 0;
}
.no-padding-l {
    padding-left: 0;
}
.form-check-label {
    vertical-align: middle;
}
/* Ajax Loader Design */
#loader_holder {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    margin-left: 0px;
    height: 100%;
    background: rgba(247,247,247, 0.5);
    z-index: 9999;
}
#loader_holder img {
    position: relative;
    max-width: 100px;
    top: 42.5%;
    left: 47%;
}
.auth-full-page-content {
    background: #FFF;
    min-height: 100%;
}
.errMsg {
    font-size: 16px;
    font-weight: 700;
}
.cur_point {
    cursor: pointer;
}
.bg-primary {
    background-color: #272727!important;
}
.auth-bg .bg-overlay {
    opacity: .9;
}
.brandName {
    margin-top: 42.5vh;
}
.brandName h2 {
    font-size: 2.5em;
    color: #f2f2f2;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 5px;
    padding-bottom: 10px;
    position: relative;
    display: inline-block;
    background: linear-gradient(to right, #24695c7d, #2d353c73);
    border: 0;
    text-decoration: none;
    padding: 20px;
}
body[data-layout-mode=dark] .card, body[data-layout-mode=dark] .card-header, body[data-layout-mode=dark] .modal-content, body[data-layout-mode=dark] .offcanvas {
    border: 1px solid #5A5A5A;
    box-shadow: none;
}
body[data-layout-mode=dark] .cus-datatable.table thead, body[data-layout-mode=dark] .cus-default-table.table thead {
    background-color: rgb(71 71 71);
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding-right: var(--bs-gutter-x,0px);
    padding-left: var(--bs-gutter-x,0px);
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important; 
}
.no-padding {
  padding: 0 !important; 
}
.btn, .form-control, .modal-header, .modal-content, .alert {
    border-radius: 0px;
}
.form-check-input[type=checkbox] {
    border-radius: 0;
}
.form-check-input.check-danger:checked {
    background-color: #fd625e;
    border-color: #fd625e;
}
.form-check-input {
    width: 1.2em;
    height: 1.2em;
}
.form-check-input.check-danger:focus {
    -webkit-box-shadow: 0 0 0 0.15rem #fd625e26;
    box-shadow: 0 0 0 0.15rem #fd625e26;
}
.modal-header {
    border-bottom: 2px solid #898989;
}
.alert {
    border: 0px;
}
.vertical-menu, .navbar-brand-box {
    width: 220px;
}
#sidebar-menu ul li a {
    padding: .52rem 0.7rem .52rem 0.9rem;
}
.navbar-header {
    height: 50px;
}
.noti-icon .badge {
    top: 18px;
    right: 3px;
}
body[data-sidebar-size=sm] .navbar-brand-box, body[data-topbar=dark] .navbar-brand-box {
    height: 50px!important;
}
.vertical-menu {
    top: 50px;
}
#sidebar-menu ul li a {
    padding: .62rem 0.7rem .62rem 0.5rem;
}
#sidebar-menu ul li ul.sub-menu li a {
    padding: .4rem 1.5rem .4rem 2rem;
}
body[data-sidebar-size=sm] .vertical-menu #sidebar-menu>ul>li:hover>ul a {
    padding: 8px 15px;
}
.dashboard-page h4 span {
    font-size: 2.5rem;
}
.page-content {
    padding: calc(45px + 20px) calc(20px / 2) 05px calc(20px / 2);
}
.header-item {
    height: 50px;
}
.logo {
    line-height: 49px;
}
.main-content {
    margin-left: 220px;
}
.rightbar-title.p-3 {
    padding: 0.85rem!important;
}
.app-search .btn {
    right: 0px;
    top: 0px;
    height: 32px;
}
.cus-btn-success {
    color: #fff;
    background-color: #2ab57d;
    border-color: #2ab57d;
}
.cus-btn-danger {
    color: #fff;
    background-color: #ca4e4b;
    border-color: #be4a47;
}
.cus-btn-primary {
    color: #fff;
    background-color: #24695c;
    border-color: #24695c;
}
.app-search {
    padding: calc(18px / 2) 0;
}
.app-search .form-control {
    height: 32px;
}
.card, .RegisterPage {
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 3px rgb(0 0 0 / 30%);
    box-shadow: 0 0.15rem 0.5rem 0 rgb(34 39 46 / 15%);
    zoom: 0.9;
}
.card.mh-90v {
    min-height: 90vh;
}
.card-header:first-child {
    border-radius: 0;
}
.card-header {
    background: #FFF;
    border-bottom: 2px solid #313533;
    padding: .5rem .5rem;
}
.card-title {
    font-size: 18px!important;
    margin: 0;
    color: #313533;
}
.cus-datatable.table thead, .cus-default-table.table thead {
    background-color: rgb(210, 210, 210, 1);
}
.cus-datatable.table thead th {
    padding: .75rem .1rem;
}
.cus-datatable.table tbody tr td, .cus-default-table.table tbody tr td {
    border-bottom-width: 0px;
    padding: .4rem .2rem;
    vertical-align: middle;
}
.cus-default-table.table tr th {
    padding: .5rem .25rem;
}
.table th {
    vertical-align: middle;
}
.table tbody td {
    padding: 0.2rem 0.5rem;
    vertical-align: middle;
    border-bottom-width: 0;
}
th.last-th {
    text-align: center;
    padding: 0.2rem;
    vertical-align: middle;
}
td.last-td {
    text-align: center;
    vertical-align: middle;
}
div.dataTables_wrapper div.dataTables_info {
    padding-top: .5em;
}
.page-item:first-child .page-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.page-link {
    padding: .35rem .5rem;
}
.form-label {
    margin-bottom: 0.1rem;
}
.form-control {
    padding: .3rem .5rem;
    font-size: .9rem;
}
.form-control.fh-bs {
    padding: .5rem .5rem;
    font-size: .9rem;
}
.form-control.no-border-xs {
    border: 0px;
    box-shadow: none;
    background: transparent;
    border-bottom: 1px solid #333;
    width: 50px;
    padding: 2px;
    height: 27px;
}
.form-control.no-border-xs.fw {
    width: 100%!important;
}
.form-control.no-border-md {
    border: 0px;
    background: transparent;
    border-bottom: 1px solid #333;
    width: 100px;
    padding: .1rem .3rem;
}
.form-control.no-border-lg {
    border: 0px;
    background: transparent;
    border-bottom: 1px solid #333;
    width: 200px;
    padding: .1rem .3rem;
}
.form-control.no-border {
    border: 0px;
    border-bottom: 1px solid #DDD;
    width: 100%;
    padding: .1rem .3rem;
}
.form-control.no-border-rq {
    border: 0px;
    background: transparent;
    box-shadow: none;
    border: 1px solid rgba(253,98,94,.1);
    width: 60px;
    height: 24px;
    font-size: 13px;
    color: #633939;
    font-weight: 500;
    padding: 2px;
    text-align: center;
}
.form-select.no-border.no-arrow {
    background: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.form-control.no-border:disabled, .form-control.no-border[readonly] {
    background-color: #F6F6F6;
}
.form-control.no-border:focus {
    outline: 0px;
}
.table-striped tbody tr.selected.odd, .table-striped tbody tr.even.selected {
    --bs-table-accent-bg: rgba(75,166,239,.1);
    background-color: rgba(75,166,239,.1);
}
.dataTables_info {
    width: 50%;
    display: inline-block;
}
div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    float: right;
    width: 50%;
    display: inline-block;
}
div.dt-buttons {
    position: relative;
    float: left;
}
.btn-group>.btn-group:not(:first-child), .btn-group>.btn:not(:first-child) {
    margin-right: 5px;
}
.hidden {
    display: none;
}
table#new-requsition-items tbody tr td {
    padding: .15rem;
    vertical-align: middle;
}
#new-requsition-items .select2-container--bootstrap .select2-selection--single {
    height: calc(1.5rem + 2px);
    padding: .25rem 0.75rem;
}
#new-requsition-items .form-control.no-border, #mr-new-product-details .form-control.no-border, #item-price-details .form-control.no-border, #new-repair-item-details .form-control.no-border {
    border: 1px solid #DDD;
}
#new-requsition-items .select2-container--bootstrap .select2-results__option {
    padding: .2rem .5rem;
}
#new-requsition-items .select2-container--bootstrap .select2-dropdown {
    border-color: #DDD;
    overflow-x: scroll;
    margin-top: -1px;
    min-height: 250px;
    height: 250px;
}
#new-requsition-items tbody td small, #mr-new-product-details tbody td small, #transfer-store-item-details tbody td small, #item-price-details tbody td small {
    border: 1px solid #DDD;
    padding: 5.5px 10px;
    font-weight: 700;
    font-size: 16px;
}
#new-po-item-details tbody td small, #po-additional-charges tbody td small, #po-additional-terms tbody td small {
    border: 1px solid #DDD;
    padding: 3px 7px;
    font-weight: 700;
    font-size: 13px;
}
#new-po-item-details {
  table-layout: fixed;
  word-wrap: break-word;
}
table tbody td small.sn-sm {
    border: 1px solid #DDD;
    padding: 2px 10px;
    font-weight: 700;
    font-size: 0.93rem;
    background: #fff;
}
.table.dataTable>thead>tr>td:not(.sorting_disabled), .table.dataTable>thead>tr>th:not(.sorting_disabled), table.dataTable>thead>tr>td:not(.sorting_disabled), table.dataTable>thead>tr>th:not(.sorting_disabled) {
    padding-right: 15px;
    padding-left: 3px;
}
.badge-soft-New, .badge-soft-Stock, .badge-soft-CONFIRMED {
    color: #4ba6ef;
    background-color: rgba(75,166,239,.18);
}
.badge-soft-Replace, .badge-soft-REJECTED {
    color: #fd625e;
    background-color: rgba(253,98,94,.18);
}
.modal-xxl {
    max-width: 95%;
}
.form-control.no-border-rq.w150, .form-control.no-border.w150, .form-control.no-border.wAuto {
    width: 150px;
    text-align: left;
    color: #333;
    font-weight: 400;
}
.form-control.no-border.wAuto, .form-control.no-border-rq.wAuto {
    width: 100%!important;
}
.form-control.no-border-rq.w200, .form-control.no-border.w200 {
    width: 200px;
    text-align: left;
}
.form-control.no-border-rq.w75, .form-control.no-border.w75 {
    width: 75px;
    text-align: left;
}
.form-control.no-border-rq.w100, .form-control.no-border.w100 {
    width: 100px;
    text-align: left;
}
.select2-sm .select2-container--bootstrap-5, .select2-container{
    height: 25px;
}
.select2-sm .select2-container .select2-selection--single {
    padding: 2px 4px;
    height: 25px;
}
.select2-sm .select2-container--bootstrap-5 .select2-selection {
    font-size: 0.8rem;
    min-height: calc(1em + .2rem + 2px)
}
.form-control.input-sm {
    height: 25px;
}
select.form-control.input-sm {
    padding: 2px 8px;
}
.select2-sm .select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field,
.select2-sm .select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option{
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
}
.form-label.label-sm {
    margin-bottom: 0rem;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #333;
}
#create-new-po .form-check .form-check-input{
    margin-left: 0em;
    margin-right: 3px;
}



/* Scrollbar Design CSS*/
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


/* Timeline Design */
.hori-timeline .events {
    border-top: 3px solid #e9ecef;
}
.hori-timeline .events .event-list {
    display: block;
    position: relative;
    text-align: center;
    padding-top: 70px;
    margin-right: 0;
}
.hori-timeline .events .event-list:before {
    content: "";
    position: absolute;
    height: 30px;
    border-right: 2px dashed #dee2e6;
    top: 0;
}
.hori-timeline .events .event-list .event-date {
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    width: 140px;
    margin: 0 auto;
    border-radius: 0;
    padding: 4px;
    color: #333333;
}
@media (min-width: 1140px) {
    .hori-timeline .events .event-list {
        display: inline-block;
        width: 16.4%;
        padding-top: 30px;
    }
    .hori-timeline .events .event-list .event-date {
        top: -16px;
    }
}
.bg-soft-primary {
    background-color: rgba(64,144,203,.6)!important;
}
.bg-soft-success {
    background-color: rgba(71,189,154,.6)!important;
}
.bg-soft-danger {
    background-color: rgba(231,76,94,.6)!important;
}
.bg-soft-warning {
    background-color: rgba(249,213,112,.6)!important;
}
.card {
    border: none;
    margin-bottom: 24px;
    -webkit-box-shadow: 0 0.15rem 1.75rem 0 rgb(34 39 46 / 15%);
    box-shadow: 0 0.15rem 1.75rem 0 rgb(34 39 46 / 15%);
}
dt span {
    float: right;
}
tr.REQREJECTED td {
    text-decoration: line-through;
    text-decoration-color: #b71c1c;
}
.nav-tabs-custom .nav-item .nav-link.active {
    color: #FFF;
    background-color: #24695c;
    border-radius: 0;
}
.nav-tabs-custom .nav-item {
    position: relative;
    color: #343a40;
    background: #f0f0f0;
}
.pLabel label {
    font-size: 12px;
    font-weight: 700;
    padding: 5px 0 3px 3px;
    font-size: 0.75rem;
}
.pLabel label span {
    float: right;
    padding-right: 5px;
}
.pLabel input.form-control {
    background: transparent;
    border: 0px;
    box-shadow: none;
    border-bottom: 1px dotted #e1e1e1;
    padding-left: 0px;
    position: relative;
    font-size: 13px;
    line-height: 15px;
    padding: 0px;
    height: 15px;
    font-weight: 700;
}
#supplier-master-details.table-striped tbody tr.STS-P, #store-master-details.table-striped tbody tr.PENDING,
#size-master-details.table-striped tbody tr.PENDING, #uom-master-details.table-striped tbody tr.PENDING {
    background: #ffe599;
    --bs-table-accent-bg: #ffe599;
}









.history-tl-container{
    width:100%;
    margin:auto;
    display:block;
    position:relative;
}
.history-tl-container ul.tl{
    margin:0;
    padding:0;
    display:inline-block;
}
.history-tl-container ul.tl li{
    list-style: none;
    margin:auto;
    margin-left:60px;
    min-height:50px;
    border-left:1px dashed #86D6FF;
    padding:0 0 16px 16px;
    position:relative;
}
.history-tl-container ul.tl li .item-title {
    font-size: 14px;
    font-weight: 500;
}
.history-tl-container ul.tl li:last-child{ border-left:0;}
.history-tl-container ul.tl li::before{
    position: absolute;
    left: -10px;
    top: -0px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 0.74);
    border-radius: 500%;
    background: #258CC7;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;

}
.history-tl-container ul.tl li:hover::before{
    border-color:  #258CC7;
    transition: all 1000ms ease-in-out;
}
ul.tl li .item-detail{
    color:rgba(0,0,0,0.5);
    font-size:12px;
}
ul.tl li .timestamp{
    color: #777777;
    position: absolute;
    width: auto;
    left: -45%;
    text-align: right;
    font-size: 12px;
}










.form-control {
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de
}

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
.btn-soft-primary.btn-nbg, .btn-soft-danger.btn-nbg, .btn-soft-success.btn-nbg {
    background-color: transparent;
    font-size: 1rem;
    padding: 0rem 0.2rem;
}
.btn-soft-primary.btn-nbg:hover, .btn-soft-danger.btn-nbg:hover, .btn-soft-success.btn-nbg:hover {
    color: #333
}

/*
.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important
}
.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
    border: 1px solid #d2d6de;
    border-radius: 0;
    padding: 6px 12px;
    height: 34px
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: 10px
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    padding-right: 0;
    height: auto;
    margin-top: -3px
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px
}

.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
    border: 1px solid #d2d6de;
    border-radius: 0 !important;
    padding: 6px 12px;
    height: 40px !important
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 6px !important;
    right: 1px;
    width: 20px
}*/
.select2-container {
    display: block;
}
.select2-container--bootstrap-5.select2-container--focus .select2-selection, 
.select2-container--bootstrap-5.select2-container--open .select2-selection {
    box-shadow: none;
    border-color: #cdcdcd;
}
.select2-container--bootstrap-5 .select2-dropdown .select2-search {
    padding: 0.25rem 0.35rem;
}
.select2-container .select2-selection--single {
    padding: 4px;
    border-radius: 0px;
    height: 34px;
}
.select2-container--bootstrap-5, .select2-container {
    display: block;
    height: 34px;
}
.select2-container--bootstrap-5 .select2-selection{
    min-height: calc(1.25em + .75rem + 2px);
}
.select2-dropdown, .select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field {
    border-radius: 0px;
}
.confirmModal .choices__list--dropdown {
    height: 200px;
}
.choices__inner {
    padding: .15rem 2rem .15rem .3rem;
    border-radius: 0;
    min-height: 34px;
}
.choices[data-type*=select-one] .choices__inner {
    padding-bottom: 0px;
}
.choices__list--dropdown .choices__item {
    position: relative;
    padding: 5px 10px;
    font-size: 13px;
}
.new-requisition-body, .menu-permissions {
    min-height: 550px;
    /*position: relative;*/
}
/*.new-requisition-buttons {
    position: absolute;
    bottom: 20px;
    right: 20px;
    min-height: 60px;
}*/



/**/
.inputGroupTitle {
    clear: both;
    font-size: 20px;
    padding: 5px !important;
    background: #FAFAFA;
    font-weight: 700;
    display: block;
    color: #384047;
    text-align: left;
    border-bottom: 2px solid #384047;
    margin-bottom: 10px;
}
.inputGroupTitle-sm {
    clear: both;
    font-size: 16px;
    padding: 5px !important;
    background: #FAFAFA;
    font-weight: 700;
    display: block;
    color: #384047;
    text-align: left;
    border-bottom: 2px solid #384047;
    margin-bottom: 10px;
}
.Inst_images img {
    min-width: 200px;
    max-width: 100%;
    min-height: 200px;
    min-height: 275px;
    margin-bottom: 10px;
}



























.page {
    background: white;
    display: block;
    margin: 0 auto;
    border: 1px solid #ddd;
    margin-bottom: 6px;
}
.page[size=A4] {
    width: 6cm;
    height: 7.5cm;
}

@media only screen and (min-width: 1600px) {
    body{
        zoom: 1.2;
    }
    .brandName {
        margin-top: 33.5vh;
    }
    .brandName h2 {
        font-size: 5em;
    }
    .auth-full-page-content.p-sm-5 {
        padding-top: 10rem!important;
    }
    .auth-full-page-content .auth-logo img {
        height: 85px!important;
    }
}
