<!-- Header page -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Apex Purchase manager">
    <meta name="author" content="Rifat Tanjir">
    <link rel="shortcut icon" href="assets/images/favicon.png">
    <title>PMS</title>
</head>

<body data-sidebar-size="lg" data-topbar="dark" ng-app="myApp" ng-controller="appliedUserCtrl">
    <div id="loader_holder">
        <img src="../../assets/images/loader_bar.gif" alt="Loading..." />
    </div>

    <!-- <body data-layout="horizontal"> -->
    <!-- Begin page -->
    <div id="layout-wrapper">
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Applied Users List</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row" >
                                            <div class="col-md-12">
                                                <table class="table table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>SL</th>
                                                            <th>Employee ID</th>
                                                            <th>Employee Name</th>
                                                            <th>Department</th>
                                                            <th>Designation</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="employee in employees">
                                                            <td>{{$index+1}}</td>
                                                            <td>{{employee.userId}}</td>
                                                            <td>{{employee.employeeName}}</td>
                                                            <td>{{employee.department}}</td>
                                                            <td>{{employee.designation}}</td>
                                                            <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ConfirmUserRequestModal">Edit</button></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                
                                            </div>
                                        </div>

                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->
        </div>
        <!-- end main content-->

        <!-- Modal -->
        <div class="modal fade" id="ConfirmUserRequestModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirm User Request</h5>
                    </div>
                    <form id="ConfirmUserRequest" class="modal-body" method="post" action="UserController">
                        <input type="hidden" name="REQ" value="confirmUserRequest">
                        <input type="hidden" name="user_id" id="cUserID" value="">

                        <div class="row">
                            <div class="col-lg-12 mb-2">
                                <label class="form-label">USER ROLE/TYPE</label>

                                <select class="form-select form-control GlobalSelect" ng-model="user_role">
                                    <option ng-repeat="role in roles"  ng-value="role.roleName"  >{{role.roleName}}
                                </select>

<!--                                <select class="form-select form-control GlobalSelect" name="user_role" required>
                                    <option value="User" selected>User</option>
                                    <option value="Manager">Manager</option>
                                    <option value="Admin">Admin</option>
                                    <option value="SuperAdmin">Super Admin</option>
                                </select>-->
                            </div>
                            <div class="col-lg-12 mb-2">
                                <label class="form-label">PERMISSION GROUP</label>
                                <select class="form-select form-control GlobalSelect" name="group_id" required>
                                    <option value="0" selected>Custom User</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-soft-danger" data-bs-dismiss="modal"><i
                                class="mdi mdi-close"></i> Close</button>
                        <button type="submit" form="ConfirmUserRequest" class="btn btn-success"><i
                                class="mdi mdi-check-decagram-outline"></i> Confirm Request</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- END layout-wrapper -->
    <!-- Footer page -->
    <!-- Static Backdrop Modal -->
    <div class="modal fade" id="ChangePassword" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Update Your Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="updateUserPassword" class="modal-body" method="POST" action="UserController">
                    <input type="hidden" name="REQ" value="setUserNewPassword">
                    <input type="hidden" name="user_id" id="user_id" value="">

                    <div class="mb-1">
                        <label class="form-label label-sm">Current Password</label>
                        <input class="form-control" type="password" name="c_password" id="c_password" value="" required>
                    </div>
                    <div class="mb-1">
                        <label class="form-label label-sm">New Password</label>
                        <input class="form-control" type="password" name="n_password" id="n_password" value="" required>
                    </div>
                    <div class="mb-1">
                        <label class="form-label label-sm">Confirm Password</label>
                        <input class="form-control" type="password" name="r_password" id="r_password" value="" required>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-soft-danger" data-bs-dismiss="modal"><i
                            class="mdi mdi-close"></i> Close</button>
                    <button type="submit" id="subUpBtn" form="updateUserPassword" class="btn btn-success"><i
                            class="mdi mdi-check-decagram-outline"></i> UPDATE PASSWORD</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Libraries page -->

    <!-- JAVASCRIPT -->
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/jquery.form.js"></script>
    <script src="../../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../assets/js/metisMenu.min.js"></script>
    <script src="../../assets/js/simplebar.min.js"></script>
    <script src="../../assets/js/waves.min.js"></script>
    <script src="../../assets/js/angular.min.js"></script>
    <!-- choices js -->
    <script src="../../assets/js/choices.min.js"></script>
    <script src="../../assets/js/select2.min.js"></script>
    <!-- Required datatable js -->
    <script src="../../assets/js/jquery.dataTables.min.js"></script>
    <script src="../../assets/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../assets/js/dataTables.responsive.min.js"></script>
    <script src="../../assets/js/responsive.bootstrap4.min.js"></script>
    <script src="../../assets/js/dataTables.buttons.min.js"></script>
    <script src="../../assets/js/dataTables.select.min.js"></script>
    <script src="../../assets/js/jszip.min.js"></script>
    <script src="../../assets/js/buttons.html5.min.js"></script>
    <script src="../../assets/js/buttons.colVis.min.js"></script>
    <!-- Buttons examples -->
    <script src="assets/js/buttons.bootstrap4.min.js"></script>
    <script src="../../assets/js/buttons.print.min.js"></script>
    <!-- datepicker js -->
    <script src="../../assets/js/flatpickr.min.js"></script>
    <!-- Select 2 js -->
    <script src="../../assets/js/toastr.min.js"></script>
    <script src="../../assets/js/sweetalert2.min.js"></script>
    <!-- Datatable init js -->
    <script src="../../assets/js/dummy/datatables.init.js"></script>
    <script src="../../assets/js/app.js"></script>
    <!-- Angulajs Dependency -->
    <script src="../../assets/js/angularjs/angular.min.js"></script>
    <script src="../../assets/js/angularjs/dependency/ng-table.min.js"></script>
    <script src="../../assets/js/angularjs/app.js"></script>
    <script src="../../assets/js/angularjs/controller/appliedUserController.js"></script>
    <script>
        $(document).ready(function () {
            $("#loader_holder").hide();

            $(".GlobalSelect").each(function () {
                $(this).select2({
                    theme: "bootstrap-5",
                    dropdownParent: $(this).parent()
                });
            });

            $(".datepicker").each(function (i) {
                flatpickr("#" + this.id, {
                    allowInput: true,
                    enableTime: false,
                    dateFormat: "d-m-Y",
                    defaultDate: "today"
                });
            });

            // Updating Password
            $('#r_password').on('keyup', function () {
                $('#n_password, #r_password').on('keyup', function () {
                    if ($('#n_password').val() === $('#r_password').val()) {
                        $('#subUpBtn').removeAttr('disabled');
                        $('#r_password').addClass("is-valid").removeClass("is-invalid");
                    }
                    else {
                        $('#r_password').addClass("is-invalid").removeClass("is-valid");
                        $("#subUpBtn").attr('disabled', 'disabled');
                    }
                });
            });
        });
    </script>
</body>

</html>